.catalogview {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.catalogview__columns {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.filterview {
    min-width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

input {
    all: unset;
}

select {
    all: unset;
}

.sort__input {
    min-width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #FDCA40;
    border-style: none;
    padding: 10px;
}

.search__input {
    min-width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #FDCA40;
    border-style: none;
    padding: 10px;
    
}

.productlistview {
    padding: 20px;
    width: calc(100% - 200px);
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    transition: all ease 0.3s;   
}

.product__lvi{   
    padding: 10px;
    border-width: 2px;
    border-style: dashed;
    border-color: #FDCA4000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.product__lvi:hover{
    border-color: #DF2935;
    cursor: pointer;
}

.product__lvi-title{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.product__lvi-subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.product__lvi-price{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #DF2935;
}

.product__lvi-img{
    max-height: 300px;
    border-style: none;
}

.product__lvi-add{
    
}

.product__lvi-date {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #E6E8E6;
    font-size: 12px;
    align-self: flex-start;
    position:relative;
    top: -78%;
    left: 3%;
    color: #080708;
}
